<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="WARN">
    <Properties>
        <Property name="pattern">
            [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%highlight{%-5level}] [%logger] - %msg%n
        </Property>
    </Properties>

    <appenders>
        <File name="logsInfo" fileName="logs/informativeLogs.log" append="false">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%logger] - %msg%n"/>
        </File>

        <File name="logsDebug" fileName="logs/debugLogs.log" append="false">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%logger] - %msg%n"/>
        </File>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%highlight{%-5level}] [%logger] - %msg%n"/>
        </Console>
    </appenders>

    <loggers>
        <root level="trace">
            <appender-ref ref="Console"/>
            <appender-ref ref="logsInfo" level="info"/>
            <appender-ref ref="logsDebug" level="debug"/>
        </root>
    </loggers>

</configuration>